<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="\Users\conor\Desktop\Website 2\apps\static\css\style.css">
  </head>
  <div class="topnav">
    <a class="active" href="home.html">Home</a>
    <a href="signup.html">Newsletter</a>
    <a href="aboutus.html">About Us</a>
  </div>

  <body>
    <div class="home">
      <h1>Sign up Confirmed!</h1>
      <p>Thanks signing up with us! be sure to check your email in the coming days for our newsletter!</p>
    </div>
  </body>

</html>